#head {
  position: relative;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0) 100%);

  .container {
    width: 100%;
    max-width: 1800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 100px;
      width: 180px;
      background-image: url("/assets/images/logo/logo-white.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .navigate {
      display: flex;
      flex-direction: row;

      .item {
        position: relative;
        margin: 0 10px;
        font-size: 1rem;
        cursor: pointer;
      }

      .item::before {
        position: absolute;
        content: "";
        left: 50%;
        right: 50%;
        height: 2px;
        bottom: -5px;
        background-color: white;
        transition: all 0.3s;
        opacity: 0;
      }

      .item:hover::before {
        left: 0;
        right: 0;
        opacity: 1;
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    animation: slide_down 0.3s linear 1;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0) 100%);

  }
}


@keyframes slide_down {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}


// RWD
@media screen and (min-width: 0px) and (max-width: 700px) {

  #head {
    .container {
      .navigate {
        .item {
          margin: 0 5px;
        }
      }
    }
  }
}