#main-page {
  width: 100%;
  height: 100%;
  position: relative;

  app-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }

  .pinned {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
  }

  .special-menu-anchor,
  .food-menu-anchor,
  .wine-menu-anchor,
  .location-anchor {
    position: relative;
  }

  p {
    position: absolute;
    top: -100px;
  }
}
