<section id="main-page">
  <!-- <app-header></app-header> -->
  <!-- 置頂型header -->
  <!-- <app-header *ngIf="showPinnedHeader"
              class="pinned"
              [@headerSlideAnimation]></app-header> -->
  <app-head></app-head>
  <!-- <div class="top-holder"></div> -->
  <!-- 展示圖片 -->
  <app-banner></app-banner>
  <!-- 最新消息 -->
  <app-news></app-news>

  <app-navigation></app-navigation>

  <div class="special-menu-anchor">
    <p #myElem></p>
  </div>
  <!-- 預定菜單 -->
  <app-special-menu></app-special-menu>

  <div class="food-menu-anchor">
    <p #myElem></p>
  </div>
  <!-- 食物菜單 -->
  <app-food-menu></app-food-menu>

  <div class="wine-menu-anchor">
    <p #myElem></p>
  </div>
  <!-- 酒類菜單 -->
  <app-wine-menu></app-wine-menu>

  <div class="location-anchor">
    <p #myElem></p>
  </div>
  <!-- 地理位置 -->
  <app-location></app-location>
  <!-- footer -->
  <app-footer></app-footer>
</section>
