#header {
  position: relative;
  width: 100%;
  height: 200px;

  .background {
    width: 100%;
    height: 100px;
    background-image: url("/assets/images/header/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    .logo {
      height: 180px;
      width: 180px;
      background-image: url("/assets/images/logo/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .item {
      margin: 0 3%;
      color: white;
      font-size: 1.1rem;
    }

  }

}