<section id="location">
  <div class="title">
  </div>
  <div class="wrapper">
    <div class="description-area">
      <img src="assets/images/logo/logo.png">
      <div class="store-name">食酒棧</div>
      <div class="address-area">
        <mat-icon>location_on</mat-icon>
        <div class="address">
          114 臺北市文德路208巷18號</div>
      </div>
      <div>食酒棧有美味飽足的「食」</div>
      <div>有解憂祝樂的「酒」</div>
      <div>更是一個有家味的休息「棧」。</div>
    </div>
    <div class="center-padding"></div>
    <div class="map-area">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1074.3631435953312!2d121.58223823788258!3d25.077732979007894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ac89cd510a9f%3A0xf6e2026df2db3772!2zMTE05Y-w5YyX5biC5YWn5rmW5Y2A5paH5b636LevMjA45be3MTjomZ8!5e0!3m2!1szh-TW!2stw!4v1610801716258!5m2!1szh-TW!2stw"
              frameborder="0"
              style="border:0;"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"></iframe>
    </div>
  </div>
</section>
