<section id="special-menu">
  <div class="title">
  </div>
  <div class="wrapper">
    <div class="left-area">
      <div class="image"></div>
      <div class="description">
        <div class="name">北海道石狩鍋</div>
        <div class="content">
          牛奶高湯、香菇、鮭魚頭、<br>玉米筍、
          鮭魚塊、蒟蒻絲、 <br>豬五花肉、高麗菜、
          竹輪、 <br>豆芽菜、雜炊粥
        </div>

      </div>
      <div class="price">
        1200/兩人、2000/四人
      </div>
    </div>
    <div class="center-padding"></div>
    <div class="right-area">
      <div class="image"></div>
      <div class="description">
        <div class="name">兩國相撲鍋</div>
        <div class="content">
          蒜泥味噌湯、雞肉丸、蛤、<br>
          去骨雞腿肉、豆皮、高麗菜<br>
          牛蒡、肉芽菜、韭菜、雜炊粥
        </div>
      </div>
      <div class="price">
        800/兩人、1500/四人
      </div>
    </div>

  </div>
  *須前一天預訂
</section>