#banner {
  width: 100vw;
  height: calc(100vw * 1080 / 1920);
  max-width: 1800px;
  max-height: 800px;
  margin: 0 auto;
  overflow: hidden;

  .img {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/foods/BBQ4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
    animation: breathe 10s linear infinite;
    animation-fill-mode: forwards;
  }
}

// 呼吸
@keyframes breathe {

  0%,
  100% {
    opacity: 1;
  }

  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }
}