@import "variable.scss";

#banner {
  height: calc(100vw * 1080 / 1920);
  max-width: 1800px;
  max-height: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .warpper {
    width: 100%;
    height: 100%;

    .img {
      width: 100%;
      height: 100%;
      background-image: url("/assets/images/foods/BBQ4.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      // animation: breathe 10s linear infinite;
      // animation-fill-mode: forwards;
    }
  }

  .mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    // background-color: red;
    background: linear-gradient(to right, $color-background-black-1 0%, #00000000 30%, #00000000 70%, $color-background-black-1 100%);
    z-index: 1;
  }

}

// 呼吸
@keyframes breathe {

  0%,
  100% {
    opacity: 1;
  }

  25% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }
}