// font
@font-face {
    font-family: NotoSerifTC_ExtraLight;
    src: url(assets/font/NotoSerifTC-ExtraLight.otf) format("opentype");
}

@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: 'NotoSerifTC_ExtraLight,Helvetica Neue,sans-serif');
@include angular-material-typography($custom-typography);

// 引入
@import './styles/variable.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: NotoSerifTC_ExtraLight, "Helvetica Neue", sans-serif;
    color: white;
}


html,
body {
    height: 100%;
    background-color: $color-background-black-1;
    margin: 0 auto;
    font-size: 16px;
    min-width: 450px;
}


.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: rgb(184, 184, 184);
}

// RWD
@media screen and (min-width: 1300px) {}

@media screen and (min-width: 650px) and (max-width: 1300px) {
    html {
        font-size: 14px;
    }
}

// @media screen and (min-width: 400px) and (max-width: 649px) {
    //     html {
    //         font-size: 12px;
    //     }
    // }

@media screen and (max-width: 649px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-device-width: 480px) {

    // 如果使用者之裝置寬度 <= 480px，將會再載入這裡的 CSS。

}