// font
@font-face {
    font-family: NotoSerifTC_ExtraLight;
    src: url(assets/font/NotoSerifTC-ExtraLight.otf) format("opentype");
}

@import '~@angular/material/theming';
$custom-typography: mat-typography-config($font-family: 'NotoSerifTC_ExtraLight,Helvetica Neue,sans-serif');
@include angular-material-typography($custom-typography);

// 引入
@import './styles/variable.scss';


* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: NotoSerifTC_ExtraLight, "Helvetica Neue", sans-serif;
}


html,
body {
    height: 100%;
    background-color: $color-background-black-1;
    max-width: 1800px;
    margin: 0 auto;
}


.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: rgb(184, 184, 184);
}