<section id="navigation">
  <div class="container">
    <div class="left-area">
      <div class="box">
        <div class="reserve">
          <div class="title">
            店家位置
          </div>
        </div>
      </div>
      <div class="box">
        <div class="special">
          <div class="title">
            預定料理
          </div>
        </div>
      </div>
    </div>
    <div class="right-area">
      <div class="box">
        <div class="food">
          <div class="title">
            最新菜單
          </div>
        </div>
      </div>
      <div class="box">
        <div class="wine">
          <div class="title">
            最新酒單
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
